* {
  margin: 0 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
}

body {
  margin: 0 10%;
}
/* Animation */

.animate__animated {
  animation-duration: 1s;
}

.animate__fadeInUp {
  animation-duration: 1s;
}
/* Utilities */

.nav-btn {
  display: flex;
  text-decoration: none;
  color: #000000;
  padding: 11px 26px;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
  letter-spacing: -0.5px;
}
.active {
  background-color: #fff;
  border-radius: 100px;
}
/* Shop Button */

.shop {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  width: 100px;
  background-color: #000000;
}

.shop-btn {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  font-size: 14px;
  font-weight: 300;
  color: white;
  padding: 11px 20px;
  top: 92%;
  z-index: 100;
  border-radius: 100px;
  border: none;
  width: 100px;
  background: black;
}
.star-white {
  height: 13px;
  width: 1.5px;
  background: white;
  position: absolute;
  margin: 30px;
  transform: rotate(0deg);
}

.star-white::before {
  content: "";
  height: inherit;
  width: inherit;
  background: white;
  position: absolute;
  transform: rotate(45deg);
  right: 0.01px;
}

.star-white::after {
  content: "";
  height: inherit;
  width: inherit;
  background: white;
  position: absolute;
  transform: rotate(90deg);
  right: 0.01px;
}

.star-white-two {
  height: 13px;
  width: 1.5px;
  background: white;
  position: absolute;
  transform: rotate(-45deg);
}

/* Navbar */
nav {
  height: 150px;
}
.navbar {
  display: flex;
  justify-content: center;
  height: 47px;
  width: 300px;
  margin: 30px auto;
  backdrop-filter: blur(10px);
  background-color: rgba(232, 229, 228, 0.5);
  align-items: center;
  border-radius: 100px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  border-radius: 11;
}

/* Header Top */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 100px;
  max-width: 100%;
}

.container h1 {
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -5px;
  width: 100%;
  margin: 30px;
}

/* Header Top list */

.list ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width: 430px;
  height: 50px;
  font-weight: 400;
  font-size: 14px;
}

.list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(232, 229, 228, 0.5);
  padding: 8px 10px;
  border-radius: 100px;
}

.none {
  background: none;
}

/* Image Grid */

.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-height: 100%;
  max-width: 50%;
  column-gap: 2%;
  row-gap: 3%;
  align-items: center;
  justify-content: center;
  margin: 80px auto 160px auto;
}

.box {
  min-height: 500px;
  min-width: 650px;
  object-fit: cover;
  border-radius: 15px;
  max-height: 100%;
  max-width: 100%;
}

.five {
  grid-row: 2;
}

.four {
  grid-row: 1;
}
/* Image Grid Overlay */

.blurry {
  height: 500px;
  width: 650px;
  overflow: hidden;
  border-radius: 15px;
}
.overlay {
  background-color: rgba(232, 229, 228, 0);
  backdrop-filter: blur(10px);
  height: 500px;
  width: 650px;
  z-index: 99;
  position: absolute;
  opacity: 0;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.overlay p {
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  top: 20px;
  left: 20px;
  letter-spacing: -1px;
  font-weight: 300;
}
.overlay:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
i:not(:hover) {
  text-align: center;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  right: 8%;
  transform: rotate(-40deg);
  font-size: 12px;
  animation: arrowout 0.3s forwards ease-in-out;
  cursor: pointer;
}

.overlay:hover i {
  animation: arrowin 0.3s forwards ease-in-out;
  cursor: pointer;
}

i {
  text-align: center;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  right: 8%;
  transform: rotate(-40deg);
  font-size: 12px;
  animation: arrowout 0.3s forwards ease-in-out;
  cursor: pointer;
}

i:hover {
  animation: arrowin 0.3s forwards ease-in-out;
  cursor: pointer;
}

@keyframes arrowin {
  from {
    top: 10%;
    right: 8%;
  }
  to {
    top: 3%;
    right: 3%;
  }
}
@keyframes arrowout {
  from {
    top: 3%;
    right: 3%;
  }
  to {
    top: 10%;
    right: 8%;
  }
}

/* Header bottom */

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -2px;
  margin-bottom: 160px;
}

.bottom a {
  text-decoration: none;
  color: #7f7f7f;
  transition: 0.1s ease-in-out;
}
.bottom a:hover {
  text-decoration: none;
  color: #b8b5b580;
  transition: 0.1s ease-in-out;
}
/* Foot */
.foot-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: auto;
  max-width: 100%;
  padding: 100px 0;
  max-width: 100%;
}
.foot {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  word-spacing: 5px;
  color: #000000;
  word-spacing: -2px;
  font-size: 14px;
}

.foot ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.foot ul li {
  text-decoration: none;
  cursor: pointer;
}
.foot ul li {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.foot ul li:hover {
  text-decoration: none;
  cursor: pointer;
  color: #7f7f7f;
  transition: 0.3s ease-in-out;
}

/* Star Logo */
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  max-height: 50px;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  height: 100%;
  position: relative;
}
.line-one {
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  margin: 30px;
  transform: rotate(0deg);
  animation: rotate 2.5s ease-in infinite;
}

.line-one::before {
  content: "";
  height: inherit;
  width: inherit;
  background: black;
  position: absolute;
  transform: rotate(45deg);
  right: 0.01px;
}

.line-one::after {
  content: "";
  height: inherit;
  width: inherit;
  background: black;
  position: absolute;
  transform: rotate(90deg);
  right: 0.01px;
}

.line-two {
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  transform: rotate(-45deg);
  animation: rotatetwo 2.5s ease-in infinite;
}

@keyframes rotate {
  35% {
    transform: rotate(45deg);
    width: 4px;
  }
  65% {
    transform: rotate(90deg);
    width: 7px;
  }
  100% {
    transform: rotate(135deg);
    width: 1px;
  }
}
@keyframes rotatetwo {
  35% {
    transform: rotate(0deg);
    width: 4px;
  }
  65% {
    transform: rotate(45deg);
    width: 7px;
  }
  100% {
    transform: rotate(90deg);
    width: 1px;
  }
}
